h1, p {
    padding: 0;
    margin: 0;
}
.container {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}
.header {
    background-color: #00b9f2;
    min-height: 50px;
    line-height: 50px;
}
.title {
    text-align: center;
}
.photo {
    background-color: #222;
    min-height: 100px;
    padding: 20px;
    opacity: 0.9;
}
.picture {
    background-image: url(https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-0/p206x206/15134560_1147582335318470_5855190226749370943_n.jpg?_nc_cat=105&_nc_oc=AQmOpVEYhXHxGq2Pd4UyG8iv_y7LTGBAkTlanV-9apeQ9eYJfZ8vufZGy9EYOhtwlRs&_nc_ht=scontent-sin2-2.xx&oh=5786e0b29b502628d6d38c76e1589756&oe=5E02F738);
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    background-size: cover;
    border-radius: 50px;
}
.description .name{
    font-size: 25px;
    line-height: 50px;
}
.description p{
    font-size: 15px;
}
.contents {
    min-height: 200px;
    text-align: center;
    overflow: auto;
}
.box {
    box-sizing: border-box;
    width: 31%;
    display: none;
    border-radius: 15px;
    min-height: 200px;
    min-width: 180px;
    line-height: 200px;
    background-size: cover;
    margin: 1%;
    position: relative;
    text-align: center;
    display: inline-block;
    border: 1px solid #777;
    box-shadow: 2px 2px 5px #999;
}
.box p {
    position: relative;
}
.box:hover .overlay {
    opacity: 0.7;
}
.footer {
    background-color: #ddd;
    min-height: 50px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 15px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    animation-name: animasiatas;
    animation-duration: 0.4s;
}
.modal-title {
    background-color: #00b9f2;
    padding: 1%;
    color: white;
}
.modal-body {
    padding: 4%;
    color: black;
}

@keyframes animasiatas {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
#box1 {
    background-image: url(assets/personal-data.jpg);
}
#box2 {
    background-image: url(assets/education.jpg);
}
#box3 {
    background-image: url(assets/contacts.jpg);
}
#box4 {
    background-image: url(assets/achievements.jpg);
}
#box5 {
    background-image: url(assets/experiences.jpg);
}
#box6 {
    background-image: url(assets/skills.jpg);
}
@media screen and (min-width: 401px) {
    h1, p {
      font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    h1, p {
      font-size: 12px;
    }
}